body {
	background: #ffffff;
	text-align: left;
	color: #676767;
	width: 800px;
	font-size: 16px;
	line-height: 24px;
	font-family: georgia, 'time new romans', serif;
	margin: 0px auto 0px auto;
	padding: 15px 0 0 0;
}

a, a:visited{
	font-family: helvetica, arial, sans-serif;
	text-decoration: none;
	background: #0E67A1;
	border: 1px solid #0C6097;
	font-size: 14px;
	margin: 0;
	padding: 5px 15px 5px 15px;
	color: #ffffff;
}

a:hover, a:hover:visited{
	font-family: helvetica, arial, sans-serif;
	text-decoration: none;
	background: #0E81CB;
	border: 1px solid #0B75B9;
	font-size: 14px;
	margin: 0;
	padding: 5px 15px 5px 15px;
	color: #ffffff;
}

p{
	padding: 15px 0 0 0;
}

.footer{
	font-family: helvetica, arial, sans-serif;
	background: none;
	text-decoration: none;
	border: none;
	font-size: 11px;
	color: #888888;
}

.footer a, .footer a:visited{
	font-family: helvetica, arial, sans-serif;
	background: none;
	text-decoration: none;
	border: none;
	font-size: 11px;
	color: #888888;
	padding: 0;
}

.footer a:hover, .footer a:visited:hover{
	font-family: helvetica, arial, sans-serif;
	background: none;
	text-decoration: none;
	font-size: 11px;
	border: none;
	color: #000000;
	padding: 0;
}

blockquote{
	color: #000000;
	font-family: baskerville, palatino, serif;
	font-size: 18px;
	padding: 0 40px 15px 20px;
}

h1{
	font-family: Helvetica, Arial, serif;
	font-size: 72px;
	font-weight: bold;
	color: #0F1923;
	padding: 0;
	letter-spacing: -2px;
}