<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Gallery</title>
	<style type="text/css" media="screen">
	body {
		background: url(office.png);
	}
	.wrap {
		margin: 0 3%;
	}
	
	article {
		width: 220px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #f3f3f3;
		opacity: 0.9;
	}
	
	footer {
		clear: both;
	}
	
	header, footer {
		color: white;
	}
	
	
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
				elit. Integer fringilla felis quam, tincidunt tristique 
				lectus. Nullam vitae magna non diam pulvinar dapibus. 
				Nam suscipit accumsan odio a eleifend. Mauris ut urna 
				libero. Aliquam erat volutpat. Pellentesque mattis 
				commodo iaculis. Donec sed est vitae est mattis 
				convallis. Nulla facilisi. Quisque vel mollis nisl. 
				Etiam sit amet augue arcu, non consequat dolor.</p>
			</article>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>