<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
	.wrap {
		margin: 0 10%;
	}
	
	header, footer {
		background: #ccc;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
			elit. Integer fringilla felis quam, tincidunt tristique 
			lectus. Nullam vitae magna non diam pulvinar dapibus. 
			Nam suscipit accumsan odio a eleifend. Mauris ut urna 
			libero. Aliquam erat volutpat. Pellentesque mattis 
			commodo iaculis. Donec sed est vitae est mattis 
			convallis. Nulla facilisi. Quisque vel mollis nisl. 
			Etiam sit amet augue arcu, non consequat dolor.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing 
			elit. Integer fringilla felis quam, tincidunt tristique 
			lectus. Nullam vitae magna non diam pulvinar dapibus. 
			Nam suscipit accumsan odio a eleifend. Mauris ut urna 
			libero. Aliquam erat volutpat. Pellentesque mattis 
			commodo iaculis. Donec sed est vitae est mattis 
			convallis. Nulla facilisi. Quisque vel mollis nisl. 
			Etiam sit amet augue arcu, non consequat dolor.</p>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>